*,*::before,*::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  padding: 30px 80px;
}

.NewOrder{
  width: 300px;
}


.user_data{
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.select{
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

.size{
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.size_item_btn{
  width: 20px;
  height: 20px;
}

.toppings{
  margin-bottom: 20px;
}

.addings{
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.add_form{
  display: flex;
}